<div>
    <div>
        <h2>Edit Post</h2>
    </div>
    <form id="editPost" class="">
        <input type="hidden" name="postId" value="{{post.id}}">
        <label for="postTitle" class="">Title</label>
        <input type="text" id="postTitle" value="{{post.title}}" class="">
        <label for="postBody" class="">Content</label>
        <textarea name="postBody" class="">{{post.body}}</textarea>

        <button type="submit" class="btn">Update post?</button>
        <button type="button" id="deletePost">Delete post?</button>
    </form>
</div>
<script src="/js/edit.js"></script>