<div>
    <div>
        <h2>Login?</h2>
    </div>
    <form id="loginForm">
        <div>
            <label for="userLogin">Username</label>
            <input type="text" id="userLogin">
        </div>
        <div>
            <label for="passwordLogin" class="">Password</label>
            <input type="password" id="passwordLogin">
        </div>
        <button type="submit" class="btn" id="">Login!</button>
        <a type="button" href="/signup">Signup Here!</a>
    </form>
</div>

<script src="/js/login.js"></script>