<div>
    <div>
        <h2>Welcome! Please fill out the following information</h2>
    </div>
    <form id="newUserForm">
        <div>
            <label for="userLogin">Username</label>
            <input type="text" id="userLogin">
        </div>
        <div>
            <label for="passwordLogin" class="">Password</label>
            <input type="password" id="passwordLogin">
        </div>
        <button type="submit" class="btn" id="">Create User!</button>
        <a type="button" href="/login">Already a user?</a>
    </form>
</div>

<script src="/js/login.js"></script>